.landingPagecontainer {
  width: 100vw;
  height: 100vh;
  background: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;


}

.landingPagecontainer nav {
  padding-inline: 1.2rem;
  padding-block: 1/2rem;
  display: flex;
  justify-content: space-between;

}

.landingPagecontainer nav .nav-header h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPagecontainer nav .nav-list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;

}

.mainlandingContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.mainlandingContainer>div:nth-child(1) {
  font-size: 1rem;
}

.landingPagecontainer {
  width: 100vw;
  height: 100vh;
  background: url("./assets/background.png") no-repeat center/cover;
  color: white;
}

.landingPagecontainer nav {
  padding-inline: 1.2rem;
  padding-block: 0.5rem;
  /* FIXED */
  display: flex;
  justify-content: space-between;
}

.landingPagecontainer nav .nav-header h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPagecontainer nav .nav-list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
}

.mainlandingContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.mainlandingContainer>div:nth-child(1) {
  font-size: 1rem;
}

.mainlandingContainer>div:nth-child(2) img {
  height: 70vh;
  width: auto;
}

.mainlandingContainer>div:nth-child(2) img {
  height: 70vh;
  width: auto;
}

.mainlandingContainer>div:nth-child(1)>div[role="button"] {
  background: #D97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;


}

.mainlandingContainer>div:nth-child(1)>div[role="button"] a {
  text-decoration: none;
  color: white !important;
  font-size: 1.7rem;
}